body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Titan One', cursive;
}

#game-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    background-color: #ff7f50;
    color: #ffffff;

}