body {
    margin: 0;
    height: 60vh;
    display: grid;
    place-items: center;
    font-family: 'Titan One', cursive;
}

#game-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    padding: 5px;
    background-color: #d1633a;
    color: #ffffff;
    box-shadow: 1px 3px 8px 5px #808080;
    border-radius: 10px;
    border: 5px solid #ffff;
    display: none;

}

li {
    list-style: none;
    padding: 5px;
    border: 2px solid #ffff;
    border-radius: 10px;
    margin: 3px;
    text-align: center;
}

button {

    padding: 15px;
    background-color: #F55050;
    border-radius: 10px;
    position: relative;
    left: 30%;
    border: none;
    font-weight: 800;
}

.btn {
    padding: 15px;
    width: auto;
}

.btn:hover {
    background-color: #F55050;
    border-radius: 10px;
}